{% extends 'base.html' %}

{% block title %}Disciplinas{% endblock %}

{% block content %}
<h2>Disciplinas</h2>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Categoria</th>
      <th>Tipo</th>
      <th>Ordem</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for d in disciplinas %}
    <tr>
      <td>{{ d.id }}</td>
      <td>{{ d.nome }}</td>
      <td>{{ d.categoria }}</td>
      <td>{{ d.tipo }}</td>
      <td>{{ d.ordem }}</td>
      <td>
        <!-- Aqui pode ir botões de editar/excluir -->
        <a href="{{ url_for('main.editar_disciplina', id=d.id) }}" class="btn btn-sm btn-info">Editar</a>
        
        <a href="#" class="btn btn-sm btn-danger">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
